.content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 1440px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    height: 250px;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.grid-item {
    @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
            background: url("./images/" + $i + ".png") no-repeat center center;
        }
    }
}